# Read a csv file (from the web)
[<button class="lm-Widget p-Widget jupyter-widgets jupyter-button widget-button mod-primary">Open in Naas</button>](https://app.naas.ai/user-redirect/naas/downloader?url=https://raw.githubusercontent.com/jupyter-naas/awesome-notebooks/master/CSV/Read_a_csv_file.ipynb)

In [1]:
import pandas 


df = pandas.read_csv("https://query1.finance.yahoo.com/v7/finance/download/GC=F?period1=951696000&period2=1584748800&interval=1d&events=history")

df.head(5)#read the first 5 lines

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-08-30,273.899994,273.899994,273.899994,273.899994,273.899994,0.0
1,2000-08-31,274.799988,278.299988,274.799988,278.299988,278.299988,0.0
2,2000-09-01,277.000000,277.000000,277.000000,277.000000,277.000000,0.0
3,2000-09-03,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-09-04,NaN,NaN,NaN,NaN,NaN,NaN