# Naas Shareable Assets Testing

In [1]:
import naas
import pandas as pd

In [2]:
df = pd.read_csv("PEIX.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2005-03-24,976.500000,1044.750000,947.099976,1008.000000,1008.000000,200
1,2005-03-28,1050.000000,1155.000000,1050.000000,1076.250000,1076.250000,500
2,2005-03-29,1085.699951,1110.900024,999.599976,1032.150024,1032.150024,100
3,2005-03-30,1050.000000,1068.900024,1042.650024,1050.000000,1050.000000,0
4,2005-03-31,1076.250000,1076.250000,1044.750000,1053.150024,1053.150024,100
...,...,...,...,...,...,...,...
3769,2020-03-16,0.260000,0.260000,0.220000,0.250000,0.250000,444200
3770,2020-03-17,0.260000,0.280000,0.220000,0.230000,0.230000,519000
3771,2020-03-18,0.250000,0.280000,0.230000,0.240000,0.240000,450800
3772,2020-03-19,0.230000,0.300000,0.230000,0.250000,0.250000,1037600
3773,2020-03-20,0.280000,0.450000,0.270000,0.370000,0.370000,9409000

In [3]:
naas.assets.add("PEIX.csv")

ðŸ‘Œ Well done! Your Assets has been sent to production folder.

ðŸ”— You can access this assets remotely with: https://public.naas.ai/amVyZW15LTJFcmF2ZW5lbC00MGNhc2hzdG9yeS0yRWNvbQ==/asset/668e123a3d7e90788237f691b967e889f80ad7ccb5395ce174ea6defc2c5

Button(description='Copy URL', style=ButtonStyle())

Output()

PS: to remove the "Assets" feature, just replace .add by .delete

'https://public.naas.ai/amVyZW15LTJFcmF2ZW5lbC00MGNhc2hzdG9yeS0yRWNvbQ==/asset/668e123a3d7e90788237f691b967e889f80ad7ccb5395ce174ea6defc2c5'

In [4]:
naas.manager()

You can check your current tasks list here :